.manifiesto {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    padding: 5% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-manifiesto {
    width: 1596px;
    height: 1750px;
    background-image: url('../img/manifiesto.png');
    background-size: cover;
    background-position: center;
}

.manifiesto-text {
    color: var(--color-texto-oscuro);
    text-align: center;
    padding: 8% 14%;
    h1 {
        font-family: var(--fuente-manifiesto);
        font-size: 64px;
        padding-bottom: var(--espacio-lg);
    }
}

.manifiesto-p {
    font-family: var(--fuente-secundaria);
    font-size: var(--tamano-texto-m);
    padding-bottom: var(--espacio-sm);
}

.firma {
    font-family: var(--fuente-secundaria);
    font-size: var(--tamano-texto-xs);
    padding-top: var(--espacio-sm);
    p {
        padding-bottom: var(--espacio-sm);
    }
}